
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>
    #1 - Profilim --> TAMAMLANDI! <br />
    #2 - Tüm başlıklarda Paging(sayfalama) --> TAMAMLANDI! <br />
    #3 - Mesajlarda Session -->TAMAMLANDI! <br />
    #4 - Oturum Yönetiminin Mimariye Taşınması --> TAMAMLANDI! <br />
    #5 - Token Kullanımı <br />
</p>

