
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>YAPILACAKLAR</h4>
<br />
<p><del>Başlıklarda Arama Kutucuğu</del></p>
<p><del>Yazar Görselleri düzeltilecek</del></p>
<p>Grafikler</p>
<p><del>Vitrin teması eklenecek</del></p>
<p><del>Gelen kutusunda arama işlemi</del></p>
<p>Yetkilendirmeler</p>
<p><del>Hata sayfaso layouttan ayrılacak</del>></p>
<p><del>Sözlük ve vtirin ayrılacak</del></p>
<p>Herhangi bir tablo raporlanacak</p>
<p>Proje dosyaları sunucuya taşınacak</p>
<p>Alan adı alınacak</p>
<p>Proje canlıya tasınacak</p>
<p>Url'de ID' yerine isim gelsin</p>
<p><del>IFrame Ekleme</del></p>
<p>SweetAlert</p>